@model WebApplication5.Models.Wyjscia

@{
    ViewData["Title"] = "Create";
}

@if (User.Identity.IsAuthenticated && User.Claims.FirstOrDefault(c => c.Type == "Role")?.Value == "Pracownik")
{
    <h1>Create</h1>

<h4>Wyjscia</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdPracownik" class="control-label"></label>
                <select asp-for="IdPracownik" class="form-control" asp-items="ViewBag.IdPracownik"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Back</a>
</div>

}