@model WebApplication5.Models.Wyjscia

@{
    ViewData["Title"] = "Edit";
}

@if (User.Identity.IsAuthenticated && User.Claims.FirstOrDefault(c => c.Type == "Role")?.Value == "Prezes")
{
    <h1>Edit</h1>

    <h4>Wyjscia</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="idWyjscie" />
                <div class="form-group">
                    <label asp-for="IdPracownik" class="control-label"></label>
                    <select asp-for="IdPracownik" class="form-control" asp-items="ViewBag.IdPracownik"></select>
                    <span asp-validation-for="IdPracownik" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DataWyjscia" class="control-label"></label>
                    <input asp-for="DataWyjscia" type="date" class="form-control" />
                    <span asp-validation-for="DataWyjscia" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="GodzinaWyjscia" class="control-label"></label>
                    <input asp-for="GodzinaWyjscia" class="form-control" />
                    <span asp-validation-for="GodzinaWyjscia" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

}