@model WebApplication5.Models.Uzytkownik

@{

    ViewData["Title"] = "Pracownik";

}
<html>
<body>


    <div class="text-center">
        <div>
            @Html.ActionLink("Wejscie", "Create", "Wejscia")<br />
            @Html.ActionLink("Wyjscie", "Create", "Wyjscia")
        </div>
    </div>

</body>
</html>